
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f4f4f4;
}
#container{
    max-width: 50rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 0 0.625rem rgba(0,0, 0, 0.1);
}
h1{
    text-align: center;
    margin-bottom: 1.25rem;
}
h2{
    margin-top: 1.25rem;
}
.form_container{
    border: 1px solid #ccc;
    padding: 1rem ;
    margin-bottom: 1.25rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.form_container label{
    display: block;
    margin-bottom: 0.25rem;
}
.form_container input{
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn{
    background-color: #fd1b1b;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 0.25rem;
}
.btn:hover{
    background-color: #e60e0e;
    transform: scale(1.1);
   
}